<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Contacto</title>
	
	<style>
		header nav{color: red;}

		header nav ul li a {color: orange;}
	</style>

	<link rel="stylesheet" href="../css/estilo.css">

	<!-- fuentes-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

	<!-- inicio encabezado -->
	<header>

		<!-- logo -->
		<h3>LOGO</h3>

		<!-- inicio nav -->
		<nav>
			<ul>
				<li><a href="/Coder House/FULL-STACK/1-Desarrollo Web/MY WEB SITE/index.html">Home</a></li>
				<li><a href="destinos.html">Destinos</a></li>
				<li><a href="nosotros.html">Nosotros</a></li>
				<li><a href="https://www.google.com" target="_blank">Ir a GOOGLE</a></li>
			</ul>
		</nav>

	</header>
	
	
	<!-- inicio contenido -->
	<section>

		<article>


			<!-- encabezado form -->
			<h1>CONTACTO</h1>

			
			<!-- inicio form -->
			<form action="#">
				<input type="text" placeholder="Decime tu nombre"><br>
				<label for="apellido">Apellido:
					<input type="text" name="apellido">
				</label><br>
				<input type="number" placeholder="Edad"><br>
				<textarea name="" id="" cols="60" rows="10" placeholder="comentarios"></textarea><br>
				<fieldset>
					<legend>De que lado estas</legend>
					<select name="lado" id="lado">
						<option value="A">Arriba</option>
						<option value="Ab">Abajo</option>
					</select>
				</fieldset>
				<div><p>De que lado</p>
					<select name="lado" id="lado">
						<option value="A">Arriba</option>
						<option value="Ab">Abajo</option>
					</select>
				</div>
				<div>Izquierda <input type="radio" name="ladoE"></div>
				<div>Derecha <input type="radio" name="ladoE"></div>
				<div>Centro <input type="radio" name="ladoE"></div>
				<input type="submit" value="ENVIAR"><input type="reset" value="RESETEAME">
			</form>

		</article>

	</section>

	<section>
		<h2 id="cuerpo" style="color: blue;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nihil ex voluptatibus optio nisi similique. Impedit, fugiat vitae quaerat libero sunt ipsam aliquid culpa saepe debitis. Optio quis saepe, autem. Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Hic cumque repellat, repudiandae quae. Optio beatae excepturi pariatur quia porro. Eum aut mollitia ipsum dolore. Reiciendis quaerat repellat in id quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa placeat veniam dignissimos quam, dolorem, saepe! Vero enim magnam, voluptatum sint cupiditate, quae exercitationem rerum laborum, odit repellendus aliquid ad consectetur.</h2>
	</section>

	<!-- inicio footer -->
	<footer>
		
	</footer>
	
</body>
</html>