<!DOCTYPE html>


<html lang="es">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!--titulo de pestaña-->
	<title>Nosotros</title>

	<!-- fuentes-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap" rel="stylesheet">
	
	<!--linkeo el css-->
	<link rel="stylesheet" href="../css/estilo-n.css">

</head>

<!--cuerpo de la pagina web-->
<body>

	<!-- inicio encabezado -->
	<header class="cabecera">
		
		<!-- logo y letra -->
		<nav class="logo_nombre">
			<img id="top" src="../assets/img/logo.png" alt="logo sitio" width="72" height="76">
			<h1>ArSal.Tour</h1>
		</nav>

		<!--buscador y menu-->
		<nav class="nav-bar">

			<!--buscador-->
			<div class="container-fluid">
			  <form class="d-flex" role="search">
				<input type="search" placeholder="Busca tu destino" aria-label="Busca tu destino">
				<button type="button">Buscar</button>
			  </form>
			</div>
		
			<!--menu de opciones-->
			<ul class="menu">
				
				<li><a href="../index.html">Home</a></li>
				
				<li><a href="../views/destinos.html">Destinos</a></li>
				
				<li><a href="../views/nosotros.html">Nosotros</a></li>
				
				<li><a href="../views/contacto.html">Contacto</a></li>
			</ul>
			
		</nav>
		
	</header>


	<!-- inicio section -->
	<header>
		<article>
			<table>
				<tr>
					<td><img src="../assets/img/header2.jpg" alt="banner atardecer"></td>
				</tr>
				<tr>
					<td><h1 class="titulo_nosotros">Nosotros</h1></td>
				</tr>
			</table>
		</article>

	</header>
	

	<!-- contenido informativo -->
		<div class="container">
			<div class="row">
				<div class="col">
					<h4 class="string_fecha">Viernes 17 de junio</h4>
					<p class="parrafo_fecha">Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Accusamus consectetur suscipit provident quod ducimus eveniet impedit quis. Ratione, porro molestias! Vel error enim dolorem labore! Tempora ab enim eligendi nihil.</p>
				</div>
			</div>
		</div>
		
</body>
</html>